/* Início da estilização CSS*/

* {
    margin: 0px;
    padding: 0px;
}

html{
    margin: auto;
    width: 100%;
    height: 100%;
    
}
body {
    margin: auto;
    width: 100%;
    height: 100%;

}

#coroas {
    display: flex;
    justify-content: center;

    width: 100%; /* Largura máxima do contêiner */
    height: 50px; /*altura máxima do contêiner*/

    margin: auto; /* Centraliza horizontalmente */

    color: white;
    background-color: black; /* Fundo branco do contêiner */

    border-bottom: solid white 5px;

    padding: 20px; /* Espaço interno do contêiner */
}

main {
    display: flex; /* Ativa o Flexbox */
    margin: auto;

    background-size: cover;

    width: 100%;
    height: 100%;

    align-items: center; /* Centraliza verticalmente */
    font-family: Arial, sans-serif; /* Fonte padrão da página */
    background: #f2f2f2; /* Cor de fundo padrão */
    padding: 20px; /* Espaçamento interno ao redor do conteúdo */
}


#quiz-container {
    max-width: 300px; /* Largura máxima do contêiner */
    max-height: 700px; /*altura máxima do contêiner*/

    margin: auto; /* Centraliza horizontalmente */

    color: white;
    background-color: black; /* Fundo branco do contêiner */

    padding: 20px; /* Espaço interno do contêiner */
    border-left: solid red 5px;
    border-top: solid red 5px;

    border-right: solid blue 5px;
    border-bottom: solid blue 5px;

    border-radius: 10px; /* Bordas arredondadas */
}
.question { /* Estilos para o texto da pergunta */
    font-size: 20px; /* Tamanho da fonte */
    margin-bottom: 15px; /* Espaço abaixo da pergunta */
}

.gifs-personagens{
    display:flex;
    width: 100%;
}
.gifs-personagens img{
    width: 50px;
    height: 50px;
}

.options button {
    width: 100%; /* Botão ocupa toda a largura do contêiner de opções */
    height: 55px;
    text-align: left; /* Texto alinhado à esquerda */
    padding: 10px; /* Espaço interno do botão */
    margin: 5px 0; /* Espaçamento vertical entre botões */
    border: 1px solid #ccc; /* Borda cinza clara */
    background: #eee; /* Fundo do botão */
    border-radius: 5px; /* Bordas levemente arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

.options button:hover {
    height: 58px;
    box-shadow: -3px 3px 0px blue;
    background-color: #e6e6e6;
}

.options button:hover:after {

    content: url('imagens/gifs/emojipensando.gif/');
}

#timer { 
    font-weight: bold; /* Negrito */
    margin-bottom: 10px; /* Espaço abaixo do temporizador */
}
