/* Início da estilização CSS*/

 html{
	 width: 100%;
	 height: 100%;
 }

 body {
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Centraliza horizontalmente */

    background-size: cover;

    width: 100%;
    height: 100%;

    align-items: center; /* Centraliza verticalmente */
    font-family: Arial, sans-serif; /* Fonte padrão da página */
    background: #f2f2f2; /* Cor de fundo padrão */
    padding: 20px; /* Espaçamento interno ao redor do conteúdo */
  }

  #quiz-container {
    max-width: 600px; /* Largura máxima do contêiner */
    max-height: 600px; /*altura máxima do contêiner*/

    width: 400px;
    height: 350px;
    margin: auto; /* Centraliza horizontalmente */
    background: #fff; /* Fundo branco do contêiner */
    padding: 20px; /* Espaço interno do contêiner */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra leve */
  }
  .question { /* Estilos para o texto da pergunta */
    font-size: 20px; /* Tamanho da fonte */
    margin-bottom: 15px; /* Espaço abaixo da pergunta */
  }
  .options button {
    width: 100%; /* Botão ocupa toda a largura do contêiner de opções */
    height: 55px;
    text-align: left; /* Texto alinhado à esquerda */
    padding: 10px; /* Espaço interno do botão */
    margin: 5px 0; /* Espaçamento vertical entre botões */
    border: 1px solid #ccc; /* Borda cinza clara */
    background: #eee; /* Fundo do botão */
    border-radius: 5px; /* Bordas levemente arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  }
  #timer { 
    font-weight: bold; /* Negrito */
    margin-bottom: 10px; /* Espaço abaixo do temporizador */
  }
